body,html{
    height: 100%;
    margin: 0;
}

p{
    font-size: 30px;
}

.bg{
    background-image: url("img/img.1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}